.DS_Store

log
.idea

target

*.iml
/src/main/resources/application-dev1.properties
/src/main/resources/logback-spring-dev1.xml
/src/main/resources/application-prod1.properties
/src/main/resources/application-dev1-bck.properties
/src/main/resources/application-prod1-bck.properties
